body{/*syntax of divs-for border margin*/
  margin:0;
  text-align: center;/*when width is defined use margin and if not then use text-allign for text positioning*/
  font-family: 'Merriweather', serif;
}
h1{
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color:#66BFBF;
  line-height: 2;
}
h2{
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  color:#66BFBF;
  font-weight: normal;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color:#11999E;
}
.top-container{
  background-color:#CFF5E7;
  position: relative;
  padding-top: 100px;
}
.middle-container{
  position: relative;
  margin-top: 10px;

}
.bottom-container{
  color:#11999E;
  background-color: #66BFBF;
  padding: 40px 0 10px;
}
.top-cloud{
  position: absolute;
  right:300px;
  top:50px;
}
.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.skill-row{
   width: 50%;
   margin: 100px auto 100px auto;
   text-align: left;
   line-height: 2;
}
.comp-gif{
  width: 40%;
  float: left;
  margin-right: 30px;
}
.exercise-gif {
  width: 40%;
  float: right;
  margin-left: 30px;
}
a{
  color:#11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 10px;
  text-decoration: none;
}
a:hover{
  color:#EAF6F6;
}
.profile{
    z-index: 980;
    position: relative;
    padding: 3em 0 0;
    margin: 0 0 3em;
}
hr{
  border-style:none;
  border-color:grey;
  border-top-style:dotted;
  border-width:5px;

  width:5%;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  text-shadow: 0 1px 3px #666666;
  font-family: Georgia;
  color: #ffffff;
  font-size: 27px;
  padding: 7px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background:  #30e3cb;
  background-image: -webkit-linear-gradient(top,  #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top,  #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top,  #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top,  #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom,  #30e3cb, #2bc4ad);
  text-decoration: none;
}
.copyright{
  color:#EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
